<div class="purplegradient">
    <h2>About PropertyCore</h2>
    <p>
        Content coming soon.
    </p>
    @if (!string.IsNullOrEmpty(ViewBag.ReturnUrl))
    {
        <a href="@ViewBag.ReturnUrl"><i class="fas fa-chevron-left"></i> Go Back</a>
    }
    <hr />
</div>